dist/
node_modules/
.idea
event_logs/
test_reports/
*.log
*_^[0-9]+$.js
examples/test_rpc.js
examples/test.js
examples/test.js
.history/*
junit.xml
types/*
!types/clients.d.ts
.DS_Store
.vscode*
.global.config.json
.event.config.json
.data.event.config.json
dependency_schemas.json
